{% extends 'base.html' %}

{% block head_content %}
	<title>Contact - Hotel Django Demo</title>
	<link rel="stylesheet" type="text/css" href="/static/styles/page-styles-contact-form.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/page-styles-contact-map.css">
{% endblock %}

{% block body_content %}
  <h1 class='title'><b>C</b>ONTACT <b>U</b>S</h1>
  <div id='content-wrap'>
    <div id='side-column'>
      <div class='left'>
        <img class='noselect' onclick='$("body").addClass("active-map")' src='/static/images/contact-us-map.png' width='100%'/>
        <p style='text-align:center'>&#128269;<i>Click to enlarge</i></p>
      </div>
      <div class='right'>
        <p>🏠 Hotel Django Demo,<br>179 Henderson Street,<br>Singapore, Singapore</p>
        <p>☎ +65 6123 4567</p>
        <p>✉ contact@django.com.sg</p>
      </div>
    </div>
    <div id='main-column'>
      <form>
        {% csrf_token %}
        <h2 style='margin-top:0;text-align:center;'>Send us a message!</h2>
        <label for='id_first_name'>First Name<span style='color:red'>*</span></label><!--Prevent whitespace
        --><label for='id_last_name'>Last Name</label><!--Prevent whitespace
        -->{{ form.first_name }}<!--Prevent whitespace
        -->{{ form.last_name }}<!--Prevent whitespace
        --><label for='id_email'>E-mail<span style='color:red'>*</span></label>
        {{ form.email }}
        <label for='id_country_code'>Phone</label>
        <span style='width:23.5%;margin-right:.5%;position:relative;'>
          <span id='floating-plus' class='noselect' onclick='$("#id_country_code").focus()'>+</span>
          {{ form.country_code }}
        </span><!--Prevent whitespace
        -->{{ form.phone }}
        <label for='id_content'>Message<span style='color:red'>*</span></label>
        {{ form.content }}
        <button style='display:block;width:60%;margin:2vw auto 0px auto;'>SUBMIT</button>
      </form>
      <img id='envelope-bottom' class='form-overlay noselect' src='/static/images/envelope-bottom.png'/>
      <img id='envelope-top' class='form-overlay noselect' src='/static/images/envelope-top.png'/>
      <div id='envelope-wait' class='center form-overlay noselect'></div>
      <div id='envelope-symbol' class='center form-overlay noselect'></div>
      <div id='envelope-message' class='center form-overlay'></div>
    </div>
  </div>
    <div id='black-mask'></div>
    <div id='map-wrap'>
		<img class='noselect' src='/static/images/contact-us-map.png' width='100%'/>
      <div id='map-close-btn' class='noselect' onclick='$("body").removeClass("active-map")'>&#x2716;</div>
    </div>
  <script src='/static/scripts/help-script-disable_numfield_scroll.js'></script>
  <script src='/static/scripts/help-script-get_browser.js'></script>
  <script src='/static/scripts/page-script-contact.js'></script>
{% endblock %}