#main-column {
    background-color: white;
    border-radius: 1vw;
    margin-left: 1vw;
    width: 54vw;
}

#side-column {
    background-color: white;
    border: 2px inset darkgray;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 1vw;
    padding: 2vw;
    width: 24vw;
}

#map-mask.active {
    background-color: black;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}
#map-wrap {
    width: 100%;
}
#map-mask.active #map-wrap {
    bottom: 0;
    height: max-content;
    left: 0;
    margin: auto;
    max-width: 133vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 96vw;
}
#map-close-btn {
    background-color: grey;
    border-radius: 15px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;
    text-align: center;
    width: 30px;
    z-index: 1;
}
#map-mask.active #map-close-btn {
    display: block;
}

.noscroll_map {
  overflow: hidden;
}